@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 16px;
}

.ant-modal-footer .ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-modal-footer .ant-btn-default {
  background-color: red;
  color: white;
}

.ant-modal-footer .ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-modal-footer .ant-btn-default {
  background-color: red;
  color: white;
}
